<!DOCTYPE html>
<html lang="en" ng-app="TripComposer">
<head>
    <meta charset="UTF-8">

    <title>Trip Composer</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>

    <script src="app.js"></script>
    <script src="js/controllers/appController.js"></script>

</head>
<body ng-controller="appController">

<div class="container">
    <h2>Welcome</h2>

    <p>The source code is <a href="https://github.com/Xryaznov/Trip-Composer" target="_blank">here</a></p>

    <p>Last 10 requests are shown</p>

    <p>Please try</p>


        <div class="row">
            <div class="col-sm-3">
                <form method="post" name="insertForm">
                    <div class="form-group">
                        <input class="form-control" id="echo" name="echo" placeholder="Echo" type="text"/>
                    </div>
                    <div class="form-group">
                        <div>
                            <button class="waves-effect waves-light btn" name="submit" type="submit" ng-click="sendRequest()">
                                Send request
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <br>

    <h3>Cities</h3>

    <div class="col s6">{{cities}}</div>

    <h3>Countries</h3>

    <table ng-cloak class="table-hover table-condensed">

        <td>ID</td>
        <td>ISO</td>
        <td>NAME</td>
        <td>TIME</td>
        <td>ECHO</td>

        <tr ng-repeat="x in data" ng-click="showCities(x.id)">

            <td>{{x.id}}</td>
            <td>{{x.countryISOCode}}</td>
            <td>{{x.countryName}}</td>
            <td>{{x.time}}</td>
            <td>{{x.echo}}</td>
        </tr>
    </table>
</div>

<br>
<br>
<style>
    td {
        border: 1px solid black;
        border-style: dashed;
    }

</style>
</body>
</html>